.client-projects-container {
  background-color: purple;
  width: 100%;
  margin-top: 60px;
}

.project-container-information {
  padding: 10px;
}

/* Top Card */

.header-client-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-name-client-project {
  color: rgb(7, 141, 238);
  font-weight: bold;
}

/* Date Section */

.date-container-client-project {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 15px;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  font-size: 0.875rem;
  color: #4b5563;
}

.calendar-icon-client-project {
  margin-right: 6px;
}

.date-container-client-project p {
  margin: 0; /* Removes default paragraph margins */
}

/* Date Section finished here */

.status-client-project {
  text-align: left;
  font-weight: bold;
  margin-bottom: 50px;
}

/* Progress Bar */

.progress-bar-container {
  position: relative;
  padding: 8px 0; /* Provides space for labels */
}

.progress-bar {
  background-color: #e6e6e6; /* Light grey background for the bar */
  border-radius: 10px; /* Rounded corners for the bar */
  height: 10px; /* Height of the progress bar */
  width: 100%; /* Full width of the container */
}

.progress {
  background-color: #007bff; /* Blue color for the progress */
  border-radius: 10px; /* Rounded corners for the progress */
  height: 100%; /* Full height of the bar container */
  position: relative; /* Allows absolute positioning for the label */
}

.progress-label {
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%; /* Start at half-width, adjust with style attribute */
  background-color: #ffffff; /* White background for the label */
  padding: 4px 8px; /* Padding inside the label */
  border-radius: 15px; /* Rounded corners for the label */
  border: 1px solid #e6e6e6; /* Border for the label */
  transform: translateX(-50%); /* Center the label over the progress */
}

.progress-end-label {
  position: absolute;
  top: -30px; /* Adjust as needed */
  right: 0; /* Align to the right end of the bar */
  background-color: #ffffff; /* White background for the label */
  padding: 4px 8px; /* Padding inside the label */
  border-radius: 15px; /* Rounded corners for the label */
  border: 1px solid #e6e6e6; /* Border for the label */
}

/* Bottom Section Card */
.image-container-client-project {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.assigned-detail-client-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Bottom Card */
.bottom-card-client-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.image-avantar-client-project {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Status Indicator*/

.status-container {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  background: white;
  font-size: 0.75rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); Optional shadow for depth */
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 3px;
}

.status-text {
  margin-right: 12px;
  font-weight: bold;
}

.status-number {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
}

.status-number.red i {
  color: #ff4545;
}

.status-number.green i {
  color: #29a745;
}

.status-number i {
  margin-right: 4px;
  font-size: 0.75rem;
}

.thumbs-up-icon-client-project {
  color: green;
  margin-right: 4px;
}

.flag-icon-client-project {
  color: red;
  margin-right: 4px;
}
