/* ViewClient.css */
.main-content-view-client {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background-color: purple;
  margin-top: 100px;
}

.right-side-view-client {
  text-align: left;
}

.date-posted {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon-calendar {
  font-size: 20px; /* Adjust as needed */
  margin-right: 12px;
  margin-bottom: 22px;
}

.date-info {
  display: flex;
  flex-direction: column;
}

.date-title {
  font-size: 20px;
  color: rgb(99, 115, 129);
  font-weight: 400;
  line-height: 1.57143;
  text-align: left;
}

.date-value {
  font-size: 16px;
  color: rgb(33, 43, 54);
  text-align: left;
  font-weight: 600;
}

/* Location Card */

.location-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-card-section {
  text-align: left;
  margin-left: 20px;
}

.card-image {
  width: 64px;
  height: 64px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 20px;
}

.owners-view-client {
  color: rgb(33, 43, 54);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.client-direction-view-client {
  color: rgb(99, 115, 129);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.client-telephone-view-client {
  color: rgb(99, 115, 129);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
