body {
  font-family: "Public Sans", sans-serif !important;
}

a,
.nav-link {
  text-decoration: none; /* Elimina el subrayado de todos los enlaces */
}

a {
  text-decoration: none;
}

span {
  font-family: "Public Sans", sans-serif !important;
  text-decoration: none;
}

.nav-link {
  text-decoration: none; /* Elimina el subrayado */
}

.sidebar-height {
  height: 100vh;
}

.main-content {
  font-family: "Public Sans", sans-serif;
}

.transition-width {
  transition-property: width;
  transition-duration: 300ms;
}

.logo-large {
  max-width: 20%;
  height: auto;
}

.logo-small {
  max-width: 100%;
  height: auto;
}

.text-custom-color {
  color: rgb(99, 115, 129);
}

.floating-dropdown-sidebar {
  position: absolute;
  left: 90px;
  top: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  border: none;
  width: 150px;
}

.floating-dropdown-sidebar.show {
  display: block;
}

.floating-dropdown-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-dropdown-sidebar li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-dropdown-sidebar li:hover {
  background-color: #f0f0f0;
}

.floating-dropdown-sidebar2 {
  position: absolute;
  left: 90px;
  top: 190px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  border: none;
  width: 150px;
}

.floating-dropdown-sidebar2.show {
  display: block;
}

.floating-dropdown-sidebar2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-dropdown-sidebar2 li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-dropdown-sidebar2 li:hover {
  background-color: #f0f0f0;
}

.floating-dropdown-sidebar3 {
  position: absolute;
  left: 90px;
  top: 340px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  border: none;
  width: 150px;
}

.floating-dropdown-sidebar3.show {
  display: block;
}

.floating-dropdown-sidebar3 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-dropdown-sidebar3 li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.floating-dropdown-sidebar3 li:hover {
  background-color: #f0f0f0;
}

/* global.css */
body {
  font-family: Public Sans, sans-serif;
}

.pl-4 {
  margin-top: 20px;
  margin-bottom: -10px;
}

.selected-section {
  background-color: rgba(7, 141, 238, 0.1); /* Azul con menos opacidad */
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.selected-section:hover {
  background-color: rgba(7, 141, 238, 0.2);
}

.selected-text {
  color: rgb(7, 141, 238) !important;
  text-decoration: none;
}

.selected-icon {
  color: rgb(7, 141, 238) !important;
}

.bullet {
  position: absolute;
  left: -20px; /* Ajusta el valor según sea necesario */
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: rgb(7, 141, 238); /* Color del círculo */
  border-radius: 50%;
}

.bullet-not-selected {
  position: absolute;
  left: -20px; /* Ajusta el valor según sea necesario */
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #000; /* Color del círculo */
  border-radius: 50%;
  background-color: rgb(99, 115, 129); /* Color del círculo */
}

.margin {
  margin-left: 80px;
}
.collapsed-margin {
  margin-left: -16px;
  margin-bottom: 20px;
}

/* Estilos globales para NavLink */
.nav-link {
  text-decoration: none; /* Quita el subrayado de los enlaces */
}

.nav-link:active {
  text-decoration: none;
}

.nav-link:focus {
  color: rgb(99, 115, 129) !important;
  font-weight: bold !important;
}

/* Styles for all the icons in the sidebar*/

.sidebar-icon-all {
  margin-right: 12px;
}

.submenu-text-sidebar {
  color: rgb(99, 115, 129) !important;
  text-transform: none;
}
